.container{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 48px;
}

main{
    background: #4f4f4f;
}

.content{
    color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
}

.child {
    max-width: 70%;
    margin: 25px 0px;
    font-size: 20px;
}

.main-img{
    height: 600px;
    margin: 25px 0px;
}

.blog-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.author-img{
    height: 150px;
    width: 150px;
}